*.o
*.a
dotest
texdoc/ccl.aux
texdoc/ccl.idx
texdoc/ccl.log
texdoc/ccl.pdf
texdoc/ccl.synctex.gz
texdoc/ccl.tid
texdoc/ccl.tin
texdoc/ccl.tms
texdoc/ccl.toc
texdoc/dotable
texdoc/dotable.dSYM/
texdoc/table.tex
texdoc/tth
texdoc/tth.dSYM/
dotest.dSYM/
